<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("Head")
<body>

    <div id="wrapper">
        @await Component.InvokeAsync("Header")
        <!-- end market-header -->
        @await Component.InvokeAsync("TopBlogs")

        <section class="section">
            <div class="container">
                <div class="row">

                    @RenderBody()
                    
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">

                            @await Component.InvokeAsync("PopularPost")

                            @await Component.InvokeAsync("RecentViews")

                        </div><!-- end sidebar -->
                    </div>

                </div><!-- end col -->
            </div>
        </section>

        @await Component.InvokeAsync("Footer")

        <div class="dmtop">Scroll to Top</div>

    </div><!-- end wrapper -->
    <!-- Core JavaScript
    ================================================== -->
    @await Component.InvokeAsync("Scripts")

</body>
</html>