<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("Head")
<body>

    <div id="wrapper">
        @await Component.InvokeAsync("Header")
        <!-- end market-header -->
        @await Component.InvokeAsync("TopBlogs")

        @RenderBody()

        @await Component.InvokeAsync("Footer")

        <div class="dmtop">Scroll to Top</div>

    </div><!-- end wrapper -->
    <!-- Core JavaScript
    ================================================== -->
    @await Component.InvokeAsync("Scripts")

</body>
</html>